.App {
  text-align: center;
}
.red{
  color: red;
  font-size: 25px;
}
.blue{
  color:green;
  font-size: 25px;
}
button{
  margin-left: 10px;
  background-color: black;
  color: white;
  font-weight: bold;
  
}



